/* styling */
* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.main {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(background.jpg);
    height: inherit;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    padding: 8vh 10%;
    animation: slide linear 1s;
}

header {
    display: flex;
    justify-content: space-between;
    animation: load 1s linear;
}

.side-nav {
    display: flex;
    justify-content: space-between;
    width: 290px;
}

.lan {
    width: 65%;
    background: rgba(0, 0, 0, 0.718);
    border: 1px white solid;
    border-radius: 6px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lan:hover {
    border: 2px white solid;
}

.lan i {
    margin: 12px;
}

.sign-in {
    width: 35%;
    height: 40px;
    border-radius: 6px;
    background: rgb(225, 0, 0);
    border: 0;
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in:hover,
.started:hover {
    background-color: rgb(162, 0, 0);
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 140px auto;
    animation: load 1s linear;
    width: 100%;
}

.info h1 {
    font-size: 6rem;
    width: 100%;
}

.info h3 {
    margin: 10px;
    font-size: 3rem;
    font-weight: 500;
}

@media (max-width: 980px) {
    .main {
        height: inherit;
        padding: 4vh 8%;
    }

    .logo img {
        width: 100px;
    }

    .side-nav {
        width: 220px;
    }

    .lan {
        font-size: 15px;
        height: 30px;
        width: 65%;
    }

    .sign-in {
        font-size: 15px;
        width: 35%;
        height: 30px;
    }

    .info {
        width: 100%;
        justify-content: center;
    }

    .info h1 {
        font-size: 6rem;
        width: 100%;
        margin: auto;
        padding: auto
        ;
    }

    .info h3 {
        font-size: 3rem;
        width: 100%;
    }
}

@media(max-width:580px) {

    .main {
        padding: 8vh 8%;
        height: inherit;
        min-height: 100vh;
    }

    .side-nav {
        width: 100px;
    }

    .lan {
        display: none;
    }

    .sign-in {
        width: 60px;
    }

    .info {
        margin: 140px auto 0px auto;
    }

    .info h1 {
        font-size: 4rem;
        width: 100%;
    }

    .info h3 {
        font-size: 2rem;
    }
}

@media(max-width:350px){
    .info h1 {
        font-size: 3rem;
        width: 100%;
    }

    .info h3 {
        font-size: 1.5rem;
    }
}